<!DOCTYPE html>
<html>

<head>
    <title>Xem ví dụ</title>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid #868585;
        }

        table {
            border-collapse: collapse;
        }

        table tr:nth-child(odd) {
            background-color: #eee;
        }

        table tr:nth-child(even) {
            background-color: white;
        }

        table tr:nth-child(1) {
            background-color: skyblue;
        }
    </style>
</head>

<body>
    <div>
        <p>Hi!</p>
        <p>{{nameuser}} ({{emailuser}}) invite you join in <b>{{nameclass}}</b></p>
        <br>
         <table >
        <tr>
            <th>{{nameclass}}</th>
        </tr>
        <tr>
            <td>
                <button><a href="{{link}}">Join</a></button>
            </td>
        </tr>
    </table>
    </div>
   
</body>

</html>